@font-face {
  font-family: "poppins-bold";
  src: url("/poppins-bold.ttf") format("truetype");
}

@font-face {
  font-family: "noto-sans-semibold";
  src: url("/notosans-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("/ubuntu-regular.ttf") format("truetype");
}