@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --hue: 260;
  --radius: 0.625rem;
  --primary: oklch(0.35 0.12 var(--hue));
  --onPrimary: oklch(0.98 0 0);
  --primaryContainer: oklch(0.45 0.1 var(--hue));
  --onPrimaryContainer: oklch(0.98 0 0);
  --secondary: oklch(0.96 0.01 var(--hue));
  --onSecondary: oklch(0.25 0.02 var(--hue));
  --secondaryContainer: oklch(0.9 0.02 var(--hue));
  --onSecondaryContainer: oklch(0.25 0.02 var(--hue));
  --tertiary: oklch(0.5 0.1 var(--hue));
  --onTertiary: oklch(1 0 0);
  --tertiaryContainer: oklch(0.6 0.1 var(--hue));
  --onTertiaryContainer: oklch(1 0 0);

  --background: oklch(0.98 0.008 var(--hue));
  --onBackground: oklch(0.25 0.02 var(--hue));
  --surface: oklch(0.995 0.004 var(--hue));
  --onSurface: oklch(0.25 0.02 var(--hue));
  --surfaceVariant: oklch(0.94 0.02 var(--hue));
  --onSurfaceVariant: oklch(0.25 0.02 var(--hue));
  --inverseSurface: oklch(0.25 0.02 var(--hue));
  --inverseOnSurface: oklch(0.98 0.01 var(--hue));

  --error: oklch(0.6 0.18 25);
  --onError: oklch(1 0 0);
  --errorContainer: oklch(0.7 0.15 25);
  --onErrorContainer: oklch(1 0 0);

  --outline: oklch(0.85 0.01 var(--hue));
  --outlineVariant: oklch(0.9 0.01 var(--hue));
  --scrim: oklch(0 0 0);

  --foreground: var(--onBackground);
  --card: var(--surface);
  --card-foreground: var(--onSurface);
  --popover: var(--surface);
  --popover-foreground: var(--onSurface);
  --primary-foreground: var(--onPrimary);
  --secondary-foreground: var(--onSecondary);
  --muted: var(--surfaceVariant);
  --muted-foreground: var(--onSurfaceVariant);
  --accent: var(--surfaceVariant);
  --accent-foreground: var(--onSurface);
  --destructive: var(--error);
  --border: var(--outlineVariant);
  --input: var(--outlineVariant);
  --ring: var(--primary);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0.01 var(--hue));
  --sidebar-primary: oklch(0.35 0.12 var(--hue));
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.94 0.02 var(--hue));
  --sidebar-accent-foreground: oklch(0.25 0.02 var(--hue));
  --sidebar-border: oklch(0.922 0.005 var(--hue));
  --sidebar-ring: oklch(0.7 0.05 var(--hue));
}

.dark {
  --background: oklch(0.25 0.03 var(--hue));
  --primary: oklch(0.75 0.15 var(--hue));
  --surface: oklch(0.3 0.03 var(--hue));
  --surfaceVariant: oklch(0.4 0.05 var(--hue));
  --onBackground: oklch(0.98 0.01 var(--hue));
  --onSurface: oklch(0.98 0.01 var(--hue));
  --onSurfaceVariant: oklch(0.98 0.01 var(--hue));
  --outlineVariant: oklch(0.45 0.03 var(--hue));

  --sidebar: oklch(0.215 0.02 var(--hue));
  --sidebar-foreground: oklch(0.98 0.01 var(--hue));
  --sidebar-primary: oklch(0.7 0.18 var(--hue));
  --sidebar-primary-foreground: oklch(0.179 0.059 var(--hue));
  --sidebar-accent: oklch(0.35 0.05 var(--hue));
  --sidebar-accent-foreground: oklch(0.98 0.01 var(--hue));
  --sidebar-border: oklch(1 0.0001 var(--hue) / 0.052);
  --sidebar-ring: oklch(0.7 0.18 var(--hue));
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply select-none;
    --toast-bg: var(--background);
    --toast-border: var(--border);
    --toast-text: var(--foreground);
  }
  body {
    @apply bg-background text-foreground;
    --toast-bg: var(--card);
    --toast-border: var(--border);
    --toast-text: var(--foreground);
  }
}
