@font-face {
  font-family: "poppins-bold";
  src: url("/poppins-bold.ttf") format("truetype");
}

@font-face {
  font-family: "noto-sans-semibold";
  src: url("/notosans-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("/ubuntu-regular.ttf") format("truetype");
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
